.hero-banner.lazy(data-src="assets/images/banner.jpeg")#hero-banner-section
    .wrapper 
        .container-fluid
            .row.align-items-center 
                .col-md-6 
                    h1.bold.uppercase.white-color срочный ремонт стиральных машин
                    hr 
                    ul.tips-list.dark-color.bold
                        li 
                            span Мастер выезджает в течении часа
                        li 
                            span Ремонтируем любые бренды стиральных мышин
                        li 
                            span Детали от производителя
                    button.btn.call-us-button.rounded.banner-button.bold.uppercase.overlay-form-btn 
                        i.icon-phone-call
                        span.bold Связаться с мастером
                    .contact-text.white-color.bold.italic
                        span звонок 
                            span.primary-color.uppercase бесплатный
                .col-md-6.d-sm-none.d-none.d-md-block
                    .banner-image
                        img(data-src="assets/images/banner.png" alt="worker.jpg").lazy
