.brands-slider-section 
    .wrapper 
        #brands-slider 
            .glide__track(data-glide-el="track")
                ul.glide__slides
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/aeg.png", alt="aeg").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/zanussi.png", alt="zanusi").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/beko.png", alt="BEKO").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/lg.png", alt="LG").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/bosch.png", alt="bosch").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/candy.png", alt="Candy").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/electrolux.png", alt="electrolux").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/kaiser.png", alt="kaiser").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/miele.png", alt="miele").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/samsung.png", alt="samsung").lazy
                    li.glide__slide
                        .brand.usable 
                            img(data-src="assets/images/brands/toshiba.png", alt="toshiba").lazy