.contact-overlay#contacts-overlay
    .contacts-form#contacts-form
        #exit-cross
                i.icon-cross-rounded
        h3.title.bold Звоните бесплатно
        ul.white-color.uppercase 
            li 
                i.icon-icon
                a(href="tel:+380639524890").bold 063-952-48-90
            li 
                i.phone-icon
                a(href="tel:+38098-128-85-32").bold 098-128-85-32
            li 
                i.phone-icon
                a(href="tel:+380665913226").bold 066-591-32-26

        