.features#features-section
    .wrapper 
        .container-fluid 
            .row 
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(src="assets/images/icons/svg/pulse.svg" alt="pulse").lazy
                                span.title Бесплатная Диагностика
                            .back-side
                                span При вызове мастера мы проведём бесплатную диагностику
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center  
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/speed.svg", alt="rocket").lazy 
                                span.title Быстрый сервис
                            .back-side
                                span Починим вашу стиральную машинку быстро и надёжно
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/customer-service.svg", alt="tools").lazy
                                span.title Отзывчивая поддержка
                            .back-side
                                span Мы на связи с 9:00 до 18:00 с понедельника по пятницу
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/shipped.svg", alt="tools").lazy 
                                span.title Срочный ремонт
                            .back-side
                                span Наш мастер прибудет к вам в течении часа
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/washing-machine.svg", alt="tools").lazy 
                                span.meta-counter(data-count=132) 0
                                span.title Стиральных машин отремонтировано
                            .back-side
                                span Обслуживание проводится по всему Киеву и области
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/happy.svg", alt="tools").lazy 
                                span.meta-counter(data-count=124) 0
                                span.title Довольных клиентов
                            .back-side
                                span Мы заботимся о наших клиентах
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/workers.svg", alt="tools").lazy 
                                span.meta-counter(data-count=14) 0
                                span.title Квалифицированных специалистов
                            .back-side
                                span У нас работают только первоклассные специалисты.
                .col-sm-6.col-md-6.col-lg-3
                    .feature-container.text-center
                        .flipper
                            .front-side
                                .picture
                                    img(data-src="assets/images/icons/svg/settings.svg", alt="tools").lazy 
                                span.meta-counter(data-count=280) 0
                                span.title Компонентов заменено
                            .back-side
                                span Мы используем только оригинальные запчасти.
                            
                

 
