footer
    .upper-footer
        .wrapper 
            .contact-form.d-flex.justify-content-between
                .form-group
                    span.bold.uppercase <span class="primary-color"> Бесплатный </span> звонок 
                .input-group 
                    button.btn.call-us-button.rounded.overlay-form-btn.input-button Перезвонить мне
            .container-fluid 
                .row 
                    .col-md-4.col-sm-4 
                            span.title.bold.uppercase О нас
                            p.text Мы работаем с понедельника по пятницу кроме праздничных дней. Мастер прибудет к вам в течении часа после оформления заказа.
                    .col-md-4.col-sm-4
                        span.title.bold.uppercase Контакты
                        ul.contacts
                            li 
                                i.icon-phone
                                span 063-952-48-90 / 098-128-85-32 / 066-591-32-26
                            li 
                                i.icon-envelope
                                span samplemail@gmail.com
                            li 
                                i.icon-map-marker
                                span Ул комарова
                    .col-md-4.col-sm-4
                            span.title.bold.uppercase Время работы
                            p.text Мы работаем с понедельника по пятницу кроме праздничных дней. Мастер прибудет к вам в течении часа после оформления заказа.
    .lower-footer
        .wrapper 
            .container-fluid
                .row.justify-content-between.flex-column-reverse.flex-xs-row.flex-sm-row.flex-md-row.flex-lg-row
                    .col-auto.col-xs-auto.col-md-auto.col-lg-auto
                        span.copyrights &copy brothers все права защищены
                    .col-auto.col-xs-auto.col-md-auto.col-lg-auto
                        nav.footer-social-nav
                            ul.d-flex.justify-content-center
                                li 
                                    a(href="icon")
                                        i.icon-twitter
                                li 
                                    a(href="icon")
                                        i.icon-twitter
                                li 
                                    a(href="icon")
                                        i.icon-twitter

