header#header
    .upper-nav.d-none.d-lg-block
        .wrapper.flex.justify-content-between.align-items-center
            nav.contacts-nav
                ul.list.horizontal
                    li 
                        i.icon-phone
                        ul.items  
                            li 063-952-48-90
                            li 098-128-85-32
                            li 066-591-32-26

                    li  
                        i.icon-envelope
                        ul.items  
                            li samplemail@gmail.com
                    li  
                        i.icon-map-marker
                        ul.items
                            li Улица Комарова
            nav.social-links  
                ul.list.horizontal 
                    li  
                        a(href="#")
                            i.icon-twitter
                    li  
                        a(href="#")
                            i.icon-twitter
                    li  
                        a(href="#")
                            i.icon-twitter
    .lower-nav
        .wrapper.flex.justify-content-between.align-items-center
            .logo
                img(src="assets/images/logo.png", alt="логотип")
            nav.main-nav.d-none.d-md-block
                ul.list.horizontal 
                    li 
                        a(href="#" data-scroll="hero-banner-section").scroll-to-link Главная 
                    li
                        a(href="#" data-scroll="features-section").scroll-to-link Услуги
                    li
                        a(href="#" data-scroll="testimonials-section").scroll-to-link Отзывы
                    li 
                        a(href="#" data-scroll="map-section").scroll-to-link Контакты
                    li  
                        button.btn.call-us-button.rounded.bold.overlay-form-btn Заказать Обслуживание
            .mobile-trigger.d-block.d-sm-block.d-md-none.d-lg-none
                .menu-bars#mobile-trigger 
                    .bar
                    .bar 
                    .bar
.mobile-nav-container#mobile-nav-container
        
    ul.mobile-main-nav
        li 
            a(href="#" data-scroll="hero-banner-section").scroll-to-link Главная 
        li
            a(href="#" data-scroll="features-section").scroll-to-link Услуги
        li
            a(href="#" data-scroll="testimonials-section").scroll-to-link Отзывы
        li 
            a(href="#" data-scroll="map-section").scroll-to-link Контакты
        