section#map-section
    #google-map-container
    .adress-item-container.d-none.d-md-block         
        .wrapper
            .container-fluid 
                .row 
                    .col-xs-4.col-sm-4.col-md-4.col-lg-3
                        .adress-item
                            h3.secondary-color.bold Наш Адресс
                            .adress-group 
                                span.bold г.Киев ул Героев Севастополя 18/2
                                span Вход с парадного
                            .adress-group 
                                span.bold Выезджаем на дом
                                span Святошинский, Соломенский, лукьяновский, оболонский, районы

            