section.lazy#questions-section(data-src="assets/images/questions-background.jpeg")
    .content
        .wrapper 
            .container-fluid 
                .row 
                    .col-md-6.d-none.d-sm-block
                    .col-12.col-xs-12.col-md-6
                        .title
                            h3.white-color.bold.uppercase Часто задаваемые вопросы
                        .separator 
                        .questions-container 
                            .question-container
                                .question.usable Что делать, если стиральная машинка не включается?
                                .question-answer 
                                    p Причин этой проблемы достаточно много: проблема могла возникнуть как от поломки кнопки включения, так и от выхода из строя элемента управления стиральной машинки. (Причины: вышло из строя устройство блокировки люка; возникла неисправность в фильтре помех; повреждены провода стиральной машинки

                            .question-container
                                .question.usable Стиральная машинка шумит. С чем это может быть связано?
                                .question-answer 
                                    p Сначала нужно определить характер шума и на каком этапе стирки он возникает. Шум для стиральной машинки - это нормально, даже если он немного привышает норму, указаную производителем. Если же звуки кажутся вам подозрительными, проблема может заключаться в: посторонний предмет в барабане или сливе; износ подшипников или амортизаторов; повреждение пружины и т.д.

                            .question-container
                                .question.usable Почему снизу стиральной машинки течет вода?
                                .question-answer 
                                    p Возможно ваша машинка протекает из-за ряда проблем: плохо закручен сливной фильтр; высокое давление в водопроводе; проблема в патрубках Вопрос 4: Наиболее часто виновниками поломки есть: сгорание насоса; сломался датчик; вышел из строя стабилизатор; сломался двигатель барабана или таходатчик