section#testimonials-section 
    .wrapper
        .title 
            h2.text-center.bold-uppercase отзывы наших клиентов    
        .testimonials#testimonials 
            .glide__track(data-glide-el="track")
                    ul.glide__slides
                        li.glide__slide
                            .testimonial
                                p.comment.text-center Машинка вдруг перестала набирать воду. С женой боялись что придётся покупать новую, но мастера заменили впускной клапан и машинка заработала на ура. Очень довольны обслуживанием.
                                .author.text-center.bold.secondary-color Дима Ничипоренко

                   



