header 
{
    min-height: 1px;
    width: 100%;
    background: #fff;
    z-index: 800;
    transition: 0.3s ease-in-out;
    top: -60px;

    .upper-nav 
    {
        padding: 20px 0px;
        border-bottom: 1px solid #ededed;
        nav.contacts-nav
        {
            li 
            {
                i 
                {
                    padding-right: 8px;
                }

                ul.items 
                {
                    display: inline-block;
                    li 
                    {
                        display: inline-block;
                    }
                }
            }

        }


        nav.social-links
        {
            li 
            {
                transition: 0.15s all;
                &:hover 
                {
                    color: palette(secondary-ascend);
                }
            }
        }
    }//- upper-nav 

    .lower-nav 
    {
        padding: 10px 0px;
        
        .logo
        {
            width: 45px;
            position: relative;
            z-index: 991;
        }

        .mobile-trigger
        {
            display: none;
            position: relative;
            z-index: 999;
        }

        .menu-bars 
        {
            position: relative;
            width: 24px;
            height: 16px;

            .bar 
            {
                position: absolute;
                height: 2px;
                background-color: palette(dark);
                right: 0px;
                width: 100%;
                transition: 0.2s ease-in-out;
                transform: rotate(0deg);
                opacity: 1;

                &:nth-child(1)
                {
                    top:0px;
                }

                &:nth-child(2)
                {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:nth-child(3)
                {
                    bottom: 0px;
                }

            }

            &.active 
            {
                .bar 
                {
                    &:nth-child(1) , &:nth-child(3)
                    {
                        top: 50%;
                        transform: translate(0 , -50%);
                    }

                    &:nth-child(1)
                    {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2)
                    {
                        right: -100%;
                        opacity: 0;
                    }

                    &:nth-child(3)
                    {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }//- lower-nav


    &.floating 
    {
        position: fixed;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        .upper-nav
        {
            display: none !important;
        }
        top: 0px;

        &:hover 
        {
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }
        z-index: 999;
    }
}

.mobile-nav-container
    {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0px;
        right: 0px;
        z-index: 990;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        visibility: hidden;
        right: 0px;
        transform: translate3d( 100% , 0 , 0);
        transition: 0.4s all;

        &:before 
        {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #fff;
            position: absolute;
            z-index: -1;
        }

        ul.mobile-main-nav 
        {
            width: 85%;
            margin: auto;
            li
            {
                display: block;
                text-align: left;
                padding: 20px 0px;
                font-size: 1.3em;
            }
        }

        &.active
        {
            visibility: visible;
            transform: translate3d(0 , 0 , 0);
            
        }
    }



//Small laptops and lower
@media screen and(max-width: 425px)
{
    .upper-nav 
    {
        justify-content: space-around !important;
    }
}