
@font-face {
    font-family: "Roboto-Condested";
    src: url("assets/fonts/assets/fonts/RobotoCondensed-Regular.ttf");
    src: 
      url("assets/fonts/assets/fonts/RobotoCondensed-Bold.ttf"),
      url("assets/fonts/assets/fonts/RobotoCondensed-BoldItalic.ttf")
      url("assets/fonts/assets/fonts/RobotoCondensed-BoldItalic.ttf")
      url("assets/fonts/assets/fonts/RobotoCondensed-Light.ttf")
      url("assets/fonts/assets/fonts/RobotoCondensed-Lightitalic.ttf")
      url("assets/fonts/assets/fonts/RobotoCondensed-Regular.ttf");
  
  }
  